:root {
    font-family: 'Rubik', sans-serif;
    --color-text-menu: #4a4a4a;
    --color-background: #3CDBC0;
    --color-text-main: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 13px;
}

.header .logo {
    width: 155px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .menu {
    display: flex;
    gap: 20px;
}

.header .menu a {
    text-decoration: none;
    color: var(--color-text-menu);
    width: 16px;
}

